NEXT_PUBLIC_SUPABASE_URL=https://mifhxpaibdlxqaazjxdf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_C4VV17yXdfd4Ydfij0rQuA_MllM691q
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pZmh4cGFpYmRseHFhYXpqeGRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzNzA0MTcsImV4cCI6MjEwNjk0NjQxN30.jFm-LljPUwSS8754Xq3ga523X6e8fEV-c4IIcydDI1w
NEXT_PUBLIC_SITE_URL=http://localhost:3000
